<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="margin-bottom: 50px">
            <a href="/">
                HF채용평가
            </a>
        </li>
        <li>
            <a href="/about">이용 안내</a>
        </li>
        <li>
            <a href="/job">채용 공고</a>
        </li>
        <li>
            <a href="/application">지원서</a>
        </li>
        <li>
            <a href="/specs">스펙</a>
        </li>
<!--        <li>-->
<!--            <a href="#">Services</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#">Contact</a>-->
<!--        </li>-->
    </ul>
</div>
<!-- /#sidebar-wrapper -->