<div id="page-content-wrapper" style="padding: 0">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">pageTitle</a>
        <!--mustache 문법으로 {.{pageTtitle}.} 해야함-->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>