{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}

    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="jumbotron jumbo text-white bg-cover">
                <div class="container">
                    <h2 class="display-4">부정행위로부터 안전한 채용</h2>
                    <p class="lead">hyperledger fabric 을 활용한 블록체인 채용 플랫폼</p>
                    <hr class="my-4" style="background: white">
                    <p>기업회원과 구직자 모두 안전한 채용 프로세스를 보장합니다.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/recruit" role="button">채용 공고 보러가기</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>



{{>layout/footer}}