{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}

    <div id="application">
        <div class="title-card">
            <h3>지원서 </h3>
        </div>
        <div>
            <div class ="recruit-title" style="width:100%; background-color: lightskyblue; height:5rem">
                {.{Recruit.title}}
            </div>
            <div style="margin:3%; border: #999999">
                <div class="personalInfo mb-5">
                    <div >
                        <h5>개인정보</h5>
                    </div>
                    <form class="justify-content-center mt-4">
                        <div class="form-row">
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="inputName">이름</label>
                                <input type="text" class="form-control" id="inputName" placeholder="{.{User.name}}">
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="inputBirthDate">생년월일</label>
                                <input type="date" class="form-control" id="inputBirthDate" placeholder="{.{User.birth}}">
                            </div>
                            <div class="form-group ml-1">
                                <label for="inputEmail">email</label>
                                <div class="form-inline">
                                    <input type="text" class="form-control mb-2" id="inputEmail" placeholder="{.{User.email}}">
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <select class="form-control">
                                            <option>@naver.com </option>
                                            <option>@google.com </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="inputAddress">거주지 </label>
                                <input type="text" class="form-control ml-1" id="inputAddress" placeholder="{.{User.address}}">
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="inputName">대학졸업여부</label>
                                <select class="form-control show-tick" >
                                    <option>재학 </option>
                                    <option>졸업 </option>
                                </select>
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="inputBirthDate">병역수행여부</label>
                                <select class="form-control show-tick" >
                                    <option>군필 </option>
                                    <option>미필 </option>
                                    <option>해당사항없 </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    개인정보 제공에 동의합니다.
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="specInfo mt-4 mb-5">
                    <div >
                        <h5>스펙 및 자격증 정보 </h5>
                    </div>
                    <div class="form-group mt-4 col-sm-5 mb-5">
                        <select class="form-control show-tick">
                            <option value="" selected disabled>스펙 가져오기 </option>
                            <option>재학 </option>
                            <option>졸업 </option>
                        </select>
                    </div>
                </div>

                <div class="answers mt-4" style="position:relative; overflow-y: scroll;">
                    <div>
                        <h5>답변 작성 </h5>
                    </div>
                    <div >
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="width: 100%">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#v-pills-q1" role="tab" aria-controls="pills-home" aria-selected="true">질문 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#v-pills-q2" role="tab" aria-controls="pills-profile" aria-selected="false">질문 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#v-pills-q3" role="tab" aria-controls="pills-contact" aria-selected="false">질문 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#v-pills-q4" role="tab" aria-controls="pills-contact" aria-selected="false">질문 4</a>
                            </li>
                        </ul>
                        <div class="tab-content " id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-q1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <h4 id="list-item-2">{.{Recruit.q1}}</h4>
                                <p>본인의 성장 과정을 간략히 기술하되 현재 자신에게 가장 큰 영향을 끼친 사건, 인물 등을 포함하여 기술하시오.</p>
                                <textarea class="answer" placeholder="답변을 입력하세요" rows="15" style="width: 100%"></textarea>
                            </div>
                            <div class="tab-pane fade" id="v-pills-q2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <h4 id="list-item-2">{.{Recruit.q2}}</h4>
                                <p>본인의 성장 과정을 간략히 기술하되 현재 자신에게 가장 큰 영향을 끼친 사건, 인물 등을 포함하여 기술하시오.</p>
                                <textarea class="answer" placeholder="답변을 입력하세요" rows="15" style="width: 100%"></textarea>
                            </div>
                            <div class="tab-pane fade" id="v-pills-q3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <h4 id="list-item-2">{.{Recruit.q3}}</h4>
                                <p>본인의 성장 과정을 간략히 기술하되 현재 자신에게 가장 큰 영향을 끼친 사건, 인물 등을 포함하여 기술하시오.</p>
                                <textarea class="answer" placeholder="답변을 입력하세요" rows="15" style="width: 100%"></textarea>

                            </div>
                            <div class="tab-pane fade" id="v-pills-q4" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                <h4 id="list-item-2">{.{Recruit.q4}}</h4>
                                <p>본인의 성장 과정을 간략히 기술하되 현재 자신에게 가장 큰 영향을 끼친 사건, 인물 등을 포함하여 기술하시오.</p>
                                <textarea class="answer" placeholder="답변을 입력하세요" rows="15" style="width: 100%"></textarea>
                            </div>
                            <div class="progress mt-5 mb-5">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                            </div>
                            <div class="submit" >
                                <a type="button" class="btn btn-primary" style="float: right;margin: 0.5%; color:white" href="#">제출하기 </a>
                                <a type="button" class="btn btn-warning" style="float: right;margin: 0.5%;" href="#">임시저장 </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>




</div>



{{>layout/footer}}