{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}

    <div id="application">
        <div class="application-title" style="margin:1%">
            <h3>지원서 </h3>
        </div>
        <div id="application-finder" class="contain-m">
            <form class="form-inline justify-content-center mt-2">
                <input class="form-control mr-sm-2" type="search" placeholder="기업명으로 찾기" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-2" type="submit">Search</button>
            </form>
        </div>
        <div class="container">
            <div class="application-wrapper">
                <ul class="list-group mx-sm-3 mb-2">
                    {{#applications}}
                    <li class="list-group-item justify-content-between align-items-center" style="padding:0">
                        <div class="card-header" style="height: 3.5rem; padding:0.5rem">
                            <h4 style="float: left">{{recruit.recruitTitle}}</h4>
                            <span class="badge badge-secondary badge-pill" style="float: right">{{recruit.closedBit}}</span>
                        </div>
                        <div class="card-content" style="padding:0.5rem">
                            <div>
                                <span class="badge badge-success badge-pill">{{passStage}}</span>
                            </div>
                            <div>
                                <div style="position: absolute; bottom: 2px" >Sun Jul 26 2020</div>
                                <a type="button" class="btn btn-info" style="float: right;margin: 0.5%;" href="#">수정 </a>
                                <a type="button" class="btn btn-danger" style="float: right;margin: 0.5%;" href="#">삭제</a>
                            </div>
                        </div>
                    </li>
                    {{/applications}}
                </ul>

            </div>


        </div>

    </div>

</div>


{{>layout/footer}}