{{>layout/header}}
<style>
    h6 {
        color: gray;
        font-weight: bold;
    }

</style>

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}
    <div id="application">
<!--        <div class="title-card">-->
<!--            <h3>지원서 </h3>-->
<!--            <input type="hidden" class="form-control" id="recruitNo" value={{recruit.recruitNo}} readonly>-->
<!--        </div>-->
        <div>
            <div class ="recruit-title" style="font-size: 1.5em; padding: 3% 3%  3%;">
                {{recruit.recruitTitle}}
                <hr style="margin:0">
            </div>
            <div style="margin: 1.5rem">
                <div class="card shadow" style="margin: 1.25rem">
                    <div class="card-header">
                        <h4 style="float: left">내 프로필</h4>
                        <div class="row justify-content-md-end">
                            <a class="btn btn-dark" href="/profile">수정하기</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-md-between m-4">
                            <div class="cols-4">
                                <h6>이름</h6>
                                <h4>{{userProfile.username}}</h4>
                            </div>
                            <div class="cols-4">
                                <h6>이메일</h6>
                                <h4>{{userProfile.email}}</h4>
                            </div>
                            <div class="cols-4">
                                <h6>주소</h6>
                                <h4>{{userProfile.address}}
                                    {{^userProfile.address}}입력하지 않음{{/userProfile.address}}
                                </h4>
                            </div>
                        </div>
                        <div class="row justify-content-md-between m-4">
                            <div class="cols-4">
                                <h6>성별</h6>
                                <h4>{{userProfile.gender}}
                                    {{^userProfile.gender}}입력하지 않음{{/userProfile.gender}}</h4>
                            </div>
                            <div class="cols-4">
                                <h6>생일</h6>
                                <h4>{{userProfile.birth}}
                                    {{^userProfile.birth}}입력하지 않음{{/userProfile.birth}}</h4>
                            </div>
                            <div class="cols-4">
                                <h6>대학</h6>
                                <h4>{{userProfile.college}}
                                    {{^userProfile.college}}입력하지 않음{{/userProfile.college}}</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 스펙 리스트 보이기 -->
                <div class="container card w-70 mt-lg-5">
                    <div class="row justify-content-md-between card-header font-weight-bold" style="font-size: larger">
                        <div class="col-3 text-center align-self-center">
                            자격증 이름
                        </div>
                        <div class="col-3 text-center align-self-center">
                            만료일
                        </div>
                        <div class="col-3 text-center align-self-center">
                            점수
                        </div>
                    </div>
                    {{#mySpecs}}
                        <div class="row justify-content-md-between card-body border-bottom" style="font-size: large">
                            <div class="col-3 text-center align-self-center">
                                {{spec.specName}}
                            </div>
                            <div class="col-3 text-center align-self-center">
                                {{authDate}}
                            </div>
                            <div class="col-3 text-center align-self-center">
                                {{score}}
                            </div>
                        </div>
                    {{/mySpecs}}
                </div>
                <div class="row justify-content-md-end mt-3 mb-3">
                    <a class="btn btn-dark" href="/specs">수정하러 가기</a>
                </div>
                <div class="answers mt-4" style="position:relative; overflow-y: scroll;">
                    <div>
                        <h5>답변 작성 </h5>
                    </div>
                    <div >
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="width: 100%">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#v-pills-q1" role="tab" aria-controls="pills-home" aria-selected="true">질문 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#v-pills-q2" role="tab" aria-controls="pills-profile" aria-selected="false">질문 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#v-pills-q3" role="tab" aria-controls="pills-contact" aria-selected="false">질문 3</a>
                            </li>
                        </ul>
                        <div class="tab-content " id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-q1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <h4 id="list-item-2">질문 1</h4>
                                <p>{{recruit.question1}}</p>
                                <textarea class="answer" placeholder="답변을 입력하세요" id="q1Comment" rows="15" style="width: 100%"></textarea>
                            </div>
                            <div class="tab-pane fade" id="v-pills-q2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <h4 id="list-item-2">질문 2</h4>
                                <p>{{recruit.question2}}</p>
                                <textarea class="answer" placeholder="답변을 입력하세요" id="q2Comment" rows="15" style="width: 100%"></textarea>
                            </div>
                            <div class="tab-pane fade" id="v-pills-q3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <h4 id="list-item-2">질문 3</h4>
                                <p>{{recruit.question3}}</p>
                                <textarea class="answer" placeholder="답변을 입력하세요" id="q3Comment" rows="15" style="width: 100%"></textarea>

                            </div>
                            <div class="progress mt-5 mb-5">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                            </div>
                            <div class="submit" >
                                <a type="button" id="btn-application-save" class="btn btn-primary" style="float: right;margin: 0.5%; color:white" href="#">제출하기 </a>
                                <a type="button" id="btn-application-temp" class="btn btn-warning" style="float: right;margin: 0.5%;" href="#">임시저장 </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>




</div>



{{>layout/footer}}