{{>layout/header}}

<div id="wrapper">
<!--https://bootsnipp.com/snippets/K0ZmK-->
    {{>layout/sidebar}}
    {{>layout/topnavbar}}
    <!-- Page Content -->
    <div id="page-content-wrapper">


        <div class="container-fluid">
            {{>evalPageLayout/userProfileLayout}}
            <div class="container">
                <div class="row question-text">
                    <div class="col-sm-4">
                        <label>질문 1</label>
                        <p>지원동기는?</p>
                    </div>
                </div>
                <div class="row answers">
                    <p>
                        이러쿵저러쿵 지원하게됨
                    </p>
                </div>
                <label>답변1
                    <input class="container-fluid row input-group-lg eval" name="eval1">
                </label>

                <div class="row question-text">
                    <div class="col-sm-4">
                        <label>질문 2</label>
                        <p class="question-text">지원동기는?</p>
                    </div>
                </div>
                <div class="row answers">
                    <p>
                        저밖에 없어요
                    </p>
                </div>
                <label>답변2
                    <input class="container-fluid row input-group-lg eval" name="eval2">
                </label>
                <div class="row question-text">
                    <div class="col-sm-4">
                        <label>질문 3</label>
                        <p class="question-text">지원동기는?</p>
                    </div>
                </div>
                <div class="row answers">
                    <p>
                        뽑아주세요
                    </p>
                </div>
                <label>답변3
                    <input class="container-fluid row input-group-lg eval" name="eval3">
                </label>
                <label class="row mt-lg-5">합/불합 처리</label>
                <div class="row">
                    <select class="col-md-4 custom-select" id="passOrFail">
                        <option>합격</option>
                        <option>불합격</option>
                    </select>
                </div>

                <div class="row mt-lg-5">
                    <button class="rounded btn-primary">평가 끝내기</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>



{{>layout/footer}}