{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar-login}}
    <!-- Page Content -->

    <div style="display: flex; flex-wrap: wrap;">
        <div class="container-fluid mt-2 mb-2" style="float: left;">
            <div class="jumbotron jumbo text-white bg-cover" style="height: 100%">
                <div class="container">
                    <h2 class="display-4">부정행위로부터 안전한 채용</h2>
                    <p class="lead">hyperledger fabric 을 활용한 블록체인 채용 플랫폼</p>
                    <hr class="my-4" style="background: white">
                    <p>기업회원과 구직자 모두 안전한 채용 프로세스를 보장합니다.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/recruit" role="button">채용 공고 보러가기</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin: auto 15px;">
        <p class="card-header" style="font-size: medium">진행중인 공고</p>
        {{#recruits}}
        <table class="table" style="margin:auto; vertical-align: middle;">
            <tbody>
            <tr>
                <td><h5 style="white-space: pre-wrap;">    {{recruitTitle}}</h5></td>
                <td><a href="/recruit/{{recruitNo}}" class="btn btn-light" style="margin-right: 10%; float: right;">자세히 보기</a></td>
            </tr>
        </table>
        {{/recruits}}
        {{^recruits}}
            <div class="card-body">
                <p class="card-text">현재 진행중인 공고가 없습니다. </p>
            </div>
        {{/recruits}}
        <a href="/recruit" class="btn btn-light">더 많은 공고 보기</a>
    </div>




</div>



{{>layout/footer}}