{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}
    <!-- Page Content -->
    <div class="justify-content-center" style="vertical-align: center">
        <div class="signin-form signin-form-login" >
            {{>layout/loginform}}
        </div>
    </div>


</div>



{{>layout/footer}}