{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}
    <!-- Page Content -->
    <div style="vertical-align: center">
        {{>layout/loginform}}
    </div>


</div>



{{>layout/footer}}