{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}
    <!--  my spec page  -->
<!--    https://asfirstalways.tistory.com/295-->
    <form class="mt-3 mx-sm-5 mb-2 justify-content-center">
        <div class="form-row justify-content-center">
            <div class="form-group ml-1 mr-5 col-sm-5">
                <label for="specId">스펙</label>
                <select id="selectSpecId" class="form-control" id="specId">
                    {{#specs}}
                    <option id="{{specId}}">{{specName}}</option>
                    {{/specs}}
                </select>
            </div>
            <div class="form-group ml-1 mr-5 col-sm-5">
                <label for="score">점수</label>
                <input type="text" class="form-control" id="score"
                       placeholder="점수">
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group ml-1 mr-5 col-sm-5">
                <label for="certifiedDate">취득일</label>
                <input type="date" class="form-control" id="certifiedDate"
                       placeholder="">
            </div>
            <div class="form-group ml-1 mr-5 col-sm-5">
                <label for="authDate">만료일</label>
                <input type="date" class="form-control" id="authDate"
                       placeholder="">
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="btn-spec-save"><i class="fas fa-plus-square mr-1"></i>등록</button>

    </form>

    <br style="border: 1px solid darkgrey">
    <div class="container card w-70">
        <div class="row justify-content-md-between card-header font-weight-bold" style="font-size: larger">
            <div class="col-3 text-center align-self-center">
                자격증 이름
            </div>
            <div class="col-3 text-center align-self-center">
                만료일
            </div>
            <div class="col-3 text-center align-self-center">
                점수
            </div>
            <div class="col-1 text-center align-self-center">

            </div>
        </div>
        {{#mySpecs}}
        <div class="row justify-content-md-between card-body border-bottom" style="font-size: large">
            <div class="col-3 text-center align-self-center">
                {{spec.specName}}
            </div>
            <div class="col-3 text-center align-self-center">
                {{authDate}}
            </div>
            <div class="col-3 text-center align-self-center">
                {{score}}
            </div>
            <div class="col-1">
                <button class="btn btn-danger" id="btn-spec-delete" name="{{personalSpecId}}">삭제</button>
            </div>
        </div>
        {{/mySpecs}}
    </div>
</div>

{{>layout/footer}}