<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>네이버 아이디로 로그인</title>
</head>
<body>
<div th:if="${session.currentUser eq null}">
    <h3>네이버 로그인</h3>
    <a th:href="${apiURL}">로그인</a>
</div>

<div th:if="${session.currentUser ne null}">
    <pre th:text="${session.currentUser}"></pre>
    <a th:href="${'/naver-login/getProfile?accessToken=' + session.currentAT}">유저프로필 가져오기</a>
    <br>
    <a th:href="${'/naver-login/refreshToken?refreshToken=' + session.currentRT}">토큰 갱신</a>
    <br>
    <a th:href="${'/naver-login/deleteToken?accessToken=' + session.currentAT}">토큰 삭제</a>
    <br>
    <a href="/naver-login/logout">로그아웃</a>
</div>

</body>
</html>