{{>layout/header}}
<style>
    label{
        font-weight: bold;
    }
</style>
<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}
    <div id="page-content-wrapper">
        <form style="align-self: center; padding: 30px" >
            <div class="form-group">
                <label for="username">이름</label>
                <input type="text" class="form-control" id="username" value="{{user.username}}">
            </div>

            <div class="form-group">
                <label for="birth">생년월일</label>
                <input type="date" class="form-control" id="birth" value="{{user.birth}}">
            </div>
            <div class="form-group">
                <label for="birth">주소</label>
                <input type="text" class="form-control" id="address" placeholder="Enter your address" value="{{user.address}}">
            </div>
            <div class="form-group">
                <label for="college">대학교</label>
                <input type="text" class="form-control" id="college" placeholder="Enter your college" value="{{user.college}}">
            </div>
            <div class="form-row">
                <div class="form-group ml-1 mr-5 col-sm-3">
                    <label for="gender">성별</label>
                    <input type="hidden" class="form-control" id="userGender" value={{user.gender}} readonly>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="gender" id="gender" value="남">
                            <label class="form-check-label" for="inlineCheckbox1">남</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="gender" id="gender" value="여">
                            <label class="form-check-label" for="inlineCheckbox2">여</label>
                        </div>
                    </div>
                </div>
                <div class="form-group ml-1 mr-5 col-sm-3">
                    <label for="educationLevel">대학졸업여부</label>
                    <select class="form-control show-tick" id="educationLevel">
                        <option>재학 </option>
                        <option>졸업 </option>
                    </select>
                </div>
                <div class="form-group ml-1 mr-5 col-sm-3">
                    <label for="militaryService">병역수행여부</label>
                    <select class="form-control show-tick" id="militaryService">
                        <option>군필 </option>
                        <option>미필 </option>
                        <option>해당사항없음 </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="highschool">고등학교</label>
                <input type="text" class="form-control" id="highschool" placeholder="Enter your highschool" value="{{user.highschool}}">
            </div>
            <div class="form-group small text-muted">
                All of the fields on this page are optional and can be deleted at any time, and by filling them out, you're giving us consent to share this data wherever your user profile appears.
            </div>
            <button type="button" class="btn btn-primary" id="btn-userInfo-update">개인정보 수정하기</button>
            <button type="reset" class="btn btn-light">Reset Changes</button>
        </form>
    </div>
</div>


{{>layout/footer}}
<script>
    var gender = $('#userGender').val();
    console.log(gender);
    $('input:checkbox[name="gender"]').each(function() {

        if(this.value == gender){
            this.checked = true;
        }
    });

</script>
