{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}
    {{>layout/topnavbar}}

    <div id="job-finder" class="contain-m">
        <form class="form-inline justify-content-center mt-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-2" type="submit">Search</button>
        </form>
    </div>
    <div id="jobs" >
        <div class="mx-sm-3 justify-content-center shadow p-3 mb-3 bg-white rounded">
        <table class="table mb-0">
            <thead>
            <tr>
                <th scope="col" class="text-center">번호</th>
                <th scope="col" class="text-center">회사명</th>
                <th scope="col" class="text-center">공고명</th>
                <th scope="col" class="text-center">마감일</th>
            </tr>
            </thead>
            <tbody>
            {{#recruit}}
                <a href="recruit/{{recruitNo}}">
                    <tr class="text-center" style = "cursor:pointer;" onClick = "location.href='recruit/{{recruitNo}}'"
                        onMouseOver = " window.status = 'recruit/{{recruitNo}}' " onMouseOut = " window.status = '' ">
                        <th scope="row">{{recruitNo}}</th>
                        <td>{{companyInfo.companyName}}</td>
                        <td>{{recruitTitle}}</td>
                        <td><span class="badge badge-pill badge-primary">마감 기한 : {{closedDate}}</span></td>
                    </tr>
                </a>
            {{/recruit}}
            </tbody>
        </table>
        </div>
        <div class="mx-sm-3 mb-2">
            <a class="btn btn-info font-weight-bold" type="button" id="move-recruit-save" href="/recruit/save"><i
                    class="fas fa-pencil-ruler"></i> 채용공고 작성하기</a>
        </div>
    </div>
</div>
{{>layout/footer}}