{{>layout/header}}

<div id="wrapper">
    {{>layout/sidebar}}
    {{>layout/topnavbar}}
    {{#recruit}}
        <input type="hidden" id="recruitNo" value={{recruitNo}}>
        <div class="recruit-detail mt-3 mx-sm-5 mb-2">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="{{companyInfo.companyLogo}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="recruit-company-card-title">{{companyInfo.companyName}}</h5>
                        <p class="recruit-company-card-text">{{startDate}}~{{closedDate}}</p>
                        <a type="button" class="btn btn-primary" href="/application/apply/{{recruitNo}}">지원하기</a>
                        <a type="button" class="btn btn-primary" href="{{companyInfo.companyPage}}">홈페이지</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h5 class="card-header">{{recruitTitle}}</h5>
            <div class="card-body">
                <p class="card-text">{{recruitContent}}</p>
                <p class="card-text">질문 1 : {{question1}}</p>
                <p class="card-text">질문 2 : {{question2}}</p>
                <p class="card-text">질문 3 : {{question3}}</p>
            </div>
        </div>
        <div class="card-body justify-content-center">
            <a type="button" class="btn btn-secondary" href="/recruit">목록</a>
            <a type="button" class="btn btn-primary" href="/recruit/update/{{recruitNo}}">수정</a>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </div>

    </div>
    {{/recruit}}
</div>
{{>layout/footer}}