{{>layout/header}}

<div id="wrapper">

    {{>layout/sidebar}}

    <div id="application" style="padding:3%">
        <div class="contain-m">
            <h3>기업 회원 이신가요?
                <a type="button" class="btn btn-secondary" href="/companyUser">기업회원 가입하기</a>
            </h3>
        </div>
        <div class="title-card">
            <h3>추가 정보 입력 </h3>
        </div>
        <div>
            <div style="margin:3%; border: #999999">
                <div class="personalInfo mb-5">
                    <form class="justify-content-center mt-4">
                        <div class="form-row needs-validation" novalidate style="margin-bottom: 5%">
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="username">이름</label>
                                <input type="text" class="form-control" id="username" value="{{userName}}" required>
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="birth">생년월일</label>
                                <input type="date" class="form-control" id="birth" placeholder="{.{User.birth}}" required>
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="gender">성별</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="gender" id="Mgender" value="남">
                                        <label class="form-check-label" for="inlineCheckbox1">남</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="gender" id="Fgender" value="여">
                                        <label class="form-check-label" for="inlineCheckbox2">여</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="form-row needs-validation" novalidate style="margin-bottom: 5%">
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="address">거주지 </label>
                                <input type="text" class="form-control ml-1" id="address" placeholder="{.{User.address}}">
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="college">대학교 </label>
                                <input type="text" class="form-control ml-1" id="college" placeholder="{.{User.college}}">
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-3">
                                <label for="college">고등학교 </label>
                                <input type="text" class="form-control ml-1" id="highschool" placeholder="{.{User.highschool}}">
                            </div>
                        </div>
                        <div class="form-row needs-validation" novalidate style="margin-bottom: 5%">
                            <div class="form-group ml-1 mr-5 col-sm-5">
                                <label for="educationLevel">대학졸업여부</label>
                                <select class="form-control show-tick" id="educationLevel">
                                    <option>재학 </option>
                                    <option>졸업 </option>
                                </select>
                            </div>
                            <div class="form-group ml-1 mr-5 col-sm-5">
                                <label for="militaryService">병역수행여부</label>
                                <select class="form-control show-tick" id="militaryService">
                                    <option>군필 </option>
                                    <option>미필 </option>
                                    <option>해당사항없음 </option>
                               </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label>
                                    <input class="form-check-input" type="checkbox" value="personal-info" id="gridCheck">
                                    개인정보 제공에 동의합니다.
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <a type="button" id="btn-userInfo-save" class="btn btn-primary" style="float: right;margin: 0.5%; color:white" href="#">저장하기</a>

            </div>
        </div>
    </div>




</div>



{{>layout/footer}}