<style>
    .info{
        background: aliceblue;
        border-radius: 5px;
    }
    label{
        font-weight: bolder;
        margin: 5px;
    }
    .answers{
        background: whitesmoke;
        border-radius: 5px;
        height: 350px;
    }
    .answers p{
        margin: 5px;
        font-size: large;
    }
    .eval{
        flex: auto;
        border: none;
        border-bottom: 2px solid darkgray;
        width: border-box;
    }
    .question-text{
        background: ivory;
        border-radius: 5px;
    }
</style>
<div class="container border black info">
    <div class="row">
        <div class="col-sm-4">
            <label>이름</label>
            <p>최상현</p>
        </div>
        <div class="col-sm-4">
            <label>생년월일</label>
            <p>1996.11.26</p>
        </div>
        <div class="col-sm-4">
            <label>학력</label>
            <p>홍익대학교 컴퓨터공학</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>성</label>
            <p>남자</p>
        </div>
        <div class="col-sm-4">
            <label>메일주소</label>
            <p>abc@gmail.com</p>
        </div>
        <div class="col-sm-4">
            <label>주소</label>
            <p>경기도 고양시</p>
        </div>
    </div>
</div>